config/tinkoffSoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ExtPartyInterface" targetNamespace="http://toi.ru/esb/services/3rdparty" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://toi.ru/esb/services/3rdparty" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://toi.ru/model/productinfo/servicemessage" xmlns:xsd3="http://toi.ru/esb/model/serviceMessagesExt">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="ExtPartyInterface_InlineSchema2.xsd"/>
        <binding hasEncoding="false" imported="true" name="ExtPartyInterfaceSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  <wsdl:types>
    
            <xsd:schema>
<xsd:import namespace="http://toi.ru/esb/model/serviceMessagesExt" schemaLocation="https://tstrp.tinkoffinsurance.ru:23001/toi/partners/quotesub/v1.0?xsd=xsd0">
    	</xsd:import>
<xsd:import namespace="http://toi.ru/model/productinfo/servicemessage" schemaLocation="https://tstrp.tinkoffinsurance.ru:23001/toi/partners/quotesub/v1.0?xsd=xsd1">
    	</xsd:import>
</xsd:schema>
        
        
        
        
        <xsd:schema targetNamespace="http://toi.ru/esb/services/3rdparty" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        	</xsd:schema>
    </wsdl:types>
  <wsdl:message name="calcQuoteRequest">
    <wsdl:part element="xsd3:calcQuoteRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="calcQuoteResponse">
    <wsdl:part element="xsd3:calcQuoteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createPolicyRequest">
  	<wsdl:part element="xsd3:createPolicyRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createPolicyResponse">
  	<wsdl:part element="xsd3:createPolicyResponse" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductInfoRequest">
  	<wsdl:part element="xsd1:getProductInfoRequest" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductInfoResponse">
  	<wsdl:part element="xsd1:getProductInfoResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="getProductListRequest">
  	<wsdl:part element="xsd1:getProductListRequest" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductListResponse">
  	<wsdl:part element="xsd1:getProductListResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="getPolicyInfoRequest">
  	<wsdl:part element="xsd3:getPolicyInfoRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPolicyInfoResponse">
  	<wsdl:part element="xsd3:getPolicyInfoResponse" name="parameters">
  	</wsdl:part>
  </wsdl:message>


  <wsdl:message name="calcMotorQuoteRequest">
  	<wsdl:part element="xsd3:calcMotorQuoteRequest" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="calcMotorQuoteResponse">
  	<wsdl:part element="xsd3:calcQuoteFullResponse" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="calcMotorQuickQuoteRequest">
  	<wsdl:part element="xsd3:calcMotorQuickQuoteRequest" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="calcMotorQuickQuoteResponse">
  	<wsdl:part element="xsd3:calcQuoteQuickResponse" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="createMotorSubmissionRequest">
  	<wsdl:part element="xsd3:createMotorSubmissionRequest" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="createMotorSubmissionResponse">
  	<wsdl:part element="xsd3:createMotorSubmissionResponse" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="policyPaymentConfirmRequest">
  	<wsdl:part element="xsd3:policyPaymentConfirmRequest" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="policyPaymentConfirmResponse">
  	<wsdl:part element="xsd3:policyPaymentConfirmResponse" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="createContactRequest">
  	<wsdl:part element="xsd3:createContactRequest" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="createContactResponse">
  	<wsdl:part element="xsd3:createContactResponse" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPolicyListRequest">
  	<wsdl:part element="xsd3:getPolicyListRequest" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPolicyListResponse">
  	<wsdl:part element="xsd3:getPolicyListResponse" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContactRequest">
  	<wsdl:part element="xsd3:getContactRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getContactResponse">
  	<wsdl:part element="xsd3:getContactResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPaymentLinkRequest">
  	<wsdl:part element="xsd3:getPaymentLinkRequest" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaymentLinkResponse">
  	<wsdl:part element="xsd3:getPaymentLinkResponse" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExtPartyInterface">
  	<wsdl:operation name="getProductList">
    	<wsdl:input message="tns:getProductListRequest"/>
    	<wsdl:output message="tns:getProductListResponse"/>
    </wsdl:operation>
  	<wsdl:operation name="getProductInfo">
    	<wsdl:input message="tns:getProductInfoRequest"/>
    	<wsdl:output message="tns:getProductInfoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="calcQuote">
      <wsdl:input message="tns:calcQuoteRequest"/>
      <wsdl:output message="tns:calcQuoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createPolicy">
    	<wsdl:input message="tns:createPolicyRequest"/>
    	<wsdl:output message="tns:createPolicyResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPolicyInfo">
    	<wsdl:input message="tns:getPolicyInfoRequest"/>
    	<wsdl:output message="tns:getPolicyInfoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="calcMotorQuote">
    	<wsdl:input message="tns:calcMotorQuoteRequest"/>
    	<wsdl:output message="tns:calcMotorQuoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="calcMotorQuickQuote">
    	<wsdl:input message="tns:calcMotorQuickQuoteRequest"/>
    	<wsdl:output message="tns:calcMotorQuickQuoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createMotorSubmission">
    	<wsdl:input message="tns:createMotorSubmissionRequest"/>
    	<wsdl:output message="tns:createMotorSubmissionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="policyPaymentConfirm">
    	<wsdl:input message="tns:policyPaymentConfirmRequest"/>
    	<wsdl:output message="tns:policyPaymentConfirmResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createContact">
    	<wsdl:input message="tns:createContactRequest"/>
    	<wsdl:output message="tns:createContactResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPolicyList">
    	<wsdl:input message="tns:getPolicyListRequest"/>
    	<wsdl:output message="tns:getPolicyListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getContact">
    	<wsdl:input message="tns:getContactRequest"/>
    	<wsdl:output message="tns:getContactResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPaymentLink">
    	<wsdl:input message="tns:getPaymentLinkRequest"/>
    	<wsdl:output message="tns:getPaymentLinkResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExtPartyInterfaceSOAP" type="tns:ExtPartyInterface">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="calcQuote">

  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/calcQuote"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="createPolicy">

  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/createPolicy"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getProductInfo">

  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/getProductInfo"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getProductList">

  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/getProductList"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getPolicyInfo">

  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/getPolicyInfo"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="calcMotorQuote">

  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/calcMotorQuote"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="calcMotorQuickQuote">

  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/calcMotorQuickQuote"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="createMotorSubmission">

  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/createMotorSubmission"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="policyPaymentConfirm">

  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/policyPaymentConfirm"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="createContact">
  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/createContact"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getPolicyList">
  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/getPolicyList"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getContact">
  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/getContact"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getPaymentLink">
  		<soap:operation soapAction="http://toi.ru/esb/services/3rdparty/getPaymentLink"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExtPartyInterface">
    <wsdl:port binding="tns:ExtPartyInterfaceSOAP" name="ExtPartyInterfaceSOAP">
     <soap:address location="https://tstrp.tinkoffinsurance.ru:23001/toi/partners/quotesub/v1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>